<!-- Modal -->

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Reset Paswword</h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="doSomthing()"
      ></button>
    </div>
    <div>
      <form [formGroup]="loginForm">
        <div class="modal-body">
          <div *ngIf="enableForm" class="mb-3">
            <label for="email">Add your Email</label>
            <input
              formControlName="email"
              type="text"
              class="form-control"
              id="username"
              placeholder="Enter Email"
            />
          </div>

          <div *ngIf="!enableForm" class="mb-3">
            <label for="email">code</label>
            <input
              formControlName="code"
              type="text"
              class="form-control"
              id="username"
              placeholder="Enter Code"
            />
          </div>

          <div *ngIf="!enableForm" class="mb-3">
            <label for="email">New Password</label>
            <input
              formControlName="password"
              type="text"
              class="form-control"
              id="username"
              placeholder="Enter New Password"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            (click)="doSomthing()"
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            *ngIf="enableForm"
            type="button"
            class="btn btn-primary"
            (click)="doneOne()"
          >
            Done
          </button>
          <button
            *ngIf="!enableForm"
            type="button"
            class="btn btn-primary"
            (click)="doneTwo()"
          >
            Done
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
