<h3 class="title">Notification Agence</h3>
<div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02" />
</div>
<h5>Nom de PS</h5>

<select class="form-select" aria-label="Default select example">
  <option selected>Centraux</option>
  <option value="1">One</option>
  <option value="2">Two</option>
</select>
<h5>Semaine</h5>

<select class="form-select" aria-label="Default select example">
  <option value="2">KW-2023-12</option>
  <option value="2">KW-2023-13</option>
  <option value="2">KW-2023-14</option>
  <option value="2">KW-2023-15</option>
  <option value="2">KW-2023-16</option>
  <option value="2">KW-2023-17</option>
  <option value="2">KW-2023-18</option>
  <option value="2">KW-2023-19</option>
  <option value="2">KW-2023-20</option>
  <option selected>KW-2023-19*</option>
  <option value="1">KW-2023-20</option>
  <option value="2">KW-2023-21</option>
  <option value="2">KW-2023-22</option>
  <option value="2">KW-2023-23</option>
  <option value="2">KW-2023-24</option>
  <option value="2">KW-2023-25</option>
  <option value="2">KW-2023-26</option>
  <option value="2">KW-2023-27</option>
  <option value="2">KW-2023-28</option>
  <option value="2">KW-2023-29</option>
  <option value="2">KW-2023-30</option>
  <option value="2">KW-2023-31</option>
</select>
<br />
<button type="button" class="btn btn-primary">Upload and Notify Agence</button>
