<div>
  <form [formGroup]="typeValidationForm">
    <div>
<h3 class="title">Import PS/Semaine</h3>
<div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02"  (change)="onFileChange($event)"/>
</div>
</div>
<div>
<h5>Semaine</h5>

<select class="form-select" aria-label="Default select example"  formControlName="selectedSemaine" >
  <option *ngFor="let semaine of semaines" [ngValue]="semaine.value">{{ semaine.label }}</option>
</select>
<br />
</div>

<br />
<div>
<button type="button" class="btn btn-outline-primary" (click)="importplanificationProduction()">Importer</button>

</div>
</form>
</div>
