<!-- ADD USER -->
<div>
  <form (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm">
    <div class="row">
      {{typeValidationForm.value |json }}
      <div class="col-md-6">
        <div class="mb-3">
        
          <label class="form-label">Type de véhicule</label>
          <input
            type="text"
            class="form-control"
            formControlName="typeVehicule"
            [ngClass]="{ 'is-invalid': typesubmit && type.typeVehicule.errors }"
            placeholder="Type de véhicule"
          />
          <div *ngIf="typesubmit && type.typeVehicule.errors" class="invalid-feedback">
            <span *ngIf="type.typeVehicule.errors.required">Champs Obligateur </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Numéro de série</label>
          <input
            type="text"
            class="form-control"
            formControlName="numSerie"
            [ngClass]="{ 'is-invalid': typesubmit && type.numSerie.errors }"
            placeholder="Numéro de série"
          />
          <div *ngIf="typesubmit && type.numSerie.errors" class="invalid-feedback">
            <span *ngIf="type.numSerie.errors.required">Champs Obligateur</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
    <div class="mb-3">
      <label class="form-label">Date de mise en route</label>
      <input
        type="date"
        class="form-control"
        formControlName="date"
        [ngClass]="{ 'is-invalid': typesubmit && type.date.errors }"
        placeholder="Date de mise en route"
      />
      <div *ngIf="typesubmit && type.date.errors" class="invalid-feedback">
        <span *ngIf="type.date.errors.required">Champs Obligateur</span>
      </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="mb-3">
      
      <label class="form-label">Nom de référence</label>
      <input
        type="text"
        class="form-control"
        formControlName="reference"
        [ngClass]="{ 'is-invalid': typesubmit && type.reference.errors }"
        placeholder="Date de mise en route"
      />
      <div *ngIf="typesubmit && type.reference.errors" class="invalid-feedback">
        <span *ngIf="type.reference.errors.required">Champs Obligateur</span>
      </div>
    </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Capacité</label>
          <input
            type="text"
            class="form-control"
            formControlName="capacite"
            [ngClass]="{ 'is-invalid': typesubmit && type.capacite.errors }"
            placeholder="Type de véhicule"
          />
          <div *ngIf="typesubmit && type.capacite.errors" class="invalid-feedback">
            <span *ngIf="type.capacite.errors.required">Champs Obligateur </span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Choisir une agence</label>
          <div>
            <select class="form-select" formControlName="selectedAgence" [ngModel]="defaultSelectedAgence">
              <option *ngFor="let item of agenceTable" [ngValue]="item.nom">{{ item.nom }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-wrap gap-2 btn-add">
      <button type="submit" class="btn btn-primary waves-effect waves-light">
        Ajouter
      </button>
      <button type="reset" class="btn btn-secondary waves-effect">
        Annuler
      </button>
    </div>
  </form>
</div>
