.title {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 25px;
  color: #8d7ec1;
}
.seqone {
  display: flex;
  align-items: center;
}
.seqtwo {
  display: flex;
  align-items: center;
}
.seqthree {
  display: flex;
  align-items: center;
}
.selectone {
  width: 300px;
  margin-left: 40px;
}
.selecttwo {
  width: 300px;
  margin-left: 13px;
}
.input {
  width: 300px;
  margin-left: 38px;
}
