<h3 class="title">Gestion des Planifications et Recap</h3>
<hr />
<div class="divOne">
  <button type="button" class="btn btn-primary">
    Charger Données Récap Modfiées
  </button>

  <input class="form-control input" type="date" />
  <input class="form-control input" type="date" />
</div>
<br />
<div class="divOne">
  <p class="p">Selctionner Agence</p>

  <select class="form-select select" aria-label="Default select example">
    <option value="3">
      STE VOYAGES TUNISIE S.V.T(STE VOYAGES TUNISIE S.V.T)
    </option>
    <option value="5">
      STE TUNISIAN BEAUTY TRAVEL(STE TUNISIAN BEAUTY TRAVEL)
    </option>
    <option value=""></option>
    <option value="2">SOCIETE YAHIA SERVICES(SOCIETE YAHIA SERVICES)</option>
    <option value="7">
      STE VOYAGES ET LOISIR EN TUNISIE (VLT)(STE VOYAGES ET LOISIR EN TUNISIE
      (VLT))
    </option>
    <option value="4">STE PRIMA TOURS SA(STE PRIMA TOURS SA)</option>
    <option value="10">PROVINCE VOYAGES(PROVINCE VOYAGES)</option>
    <option value="17">
      Tunisian travel service ( TTS ) Khmaies mathlouthi(Tunisian travel service
      ( TTS ))
    </option>
    <option value="9">
      SOCIETE DE TRANSPORT DU SAHEL STS(SOCIETE DE TRANSPORT DU SAHEL STS)
    </option>
    <option value="8">STE VOYAGES 2000(STE VOYAGES 2000)</option>
    <option value="19">E-Voyage(Enfidha Voyage)</option>
    <option value="18">Raya Voyage(Raya Voyages)</option>
    <option value="11">***(***)</option>
    <option value="1">
      TUNISIAN TRAVEL SERVICE TTS(TUNISIAN TRAVEL SERVICE TTS)
    </option>
    <option value="6">****(****)</option>
    <option value="16">BM TRAVEL(BM TRAVEL)</option>
    <option value="13">*****(*****)</option>
    <option value="15">bingo travel(bingo travel)</option>
    <option value="12">SRTB(SRTB)</option>
    <option value="14">promo vacances(promo vacances)</option>
    <option value="20">Ragheb Voyages(Ragheb Voyages)</option>
  </select>
</div>
<hr />
There is no data to display.
<hr />
