.divOne {
  display: flex;
  align-items: center;
}
.title {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 25px;
  color: #8d7ec1;
}
.input {
  width: 300px;
  margin-left: 10px;
}
.select {
  width: 610px;
  margin-left: 130px;
}
.p {
  margin-top: 20px;
}
