<h3 class="title">Planification</h3>
<div>
  <button
    type="button"
    class="btn btn-outline-primary button"
    (click)="exportToExcel(data, 'planning_import_template')"
  >
    Télécharger Template
  </button>

  <br />
  <button
    type="button"
    class="btn btn-outline-primary button"
    routerLink="/NvPlanification"
  >
    Nouvelle planification
  </button>
  
  <br />
 


</div>
<hr />
<div>
  
  <button
    type="button"
    class="btn btn-outline-primary button"
    routerLink="/GestionPlanificationAndRecap"
  >
    Gestion des Planifications et Recap
  </button>
  <br />
 

</div>





