.button {
  margin-top: 10px;
}
.buttontwo {
  margin-left: 5px;
}
.title {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 25px;
  color: #8d7ec1;
}
.buttons {
  display: flex;
}
.select {
  width: 200px;
  margin-left: 10px;
}
.p {
  margin-top: 10px;
  text-align: center;
}
