<h3 class="title">Planification</h3>
<div>
  <button
  *ngIf="matchingRole && matchingRole.permissions && hasPermission(matchingRole.permissions, 'telecharger template')"
    type="button"
    class="btn btn-outline-primary button"
    (click)="exportToExcel(data, 'planning_import_template')"
  >
    Télécharger Template
  </button>

  <br />
  <button
  *ngIf="matchingRole && matchingRole.permissions && hasPermission(matchingRole.permissions, 'nouvelle planification')"
    type="button"
    class="btn btn-outline-primary button"
    routerLink="/NvPlanification"
  >
    Nouvelle planification
  </button>
  
  <br />
 


</div>

<div>
  
  <button 
  *ngIf="matchingRole && matchingRole.permissions && hasPermission(matchingRole.permissions, 'gestion de planification')"
    type="button"
    class="btn btn-outline-primary button"
    routerLink="/GestionPlanificationAndRecap"
  >
    Gestion des Planifications 
  </button>
  <br />
  <button
  *ngIf="matchingRole && matchingRole.permissions && hasPermission(matchingRole.permissions, 'recap semaine')"
  type="button"
  class="btn btn-outline-primary button"
  routerLink="/RecapModifiee"
>
  Recap Semaine
</button>
 

</div>





