<!-- ADD USER -->
<div>
  <form (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm">
    <div class="row">
      <div class="mb-3">
        <label class="form-label">Matricule</label>
        <input
          type="text"
          class="form-control"
          formControlName="text"
          [ngClass]="{ 'is-invalid': typesubmit && type.text.errors }"
          placeholder="Matricule"
        />
        <div *ngIf="typesubmit && type.text.errors" class="invalid-feedback">
          <span *ngIf="type.text.errors.required">Champs Obligateur </span>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Nom</label>
        <input
          type="text"
          class="form-control"
          formControlName="text"
          [ngClass]="{ 'is-invalid': typesubmit && type.text.errors }"
          placeholder="Nom"
        />
        <div *ngIf="typesubmit && type.text.errors" class="invalid-feedback">
          <span *ngIf="type.text.errors.required">Champs Obligateur</span>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Prénom</label>
        <input
          type="text"
          class="form-control"
          formControlName="text"
          [ngClass]="{ 'is-invalid': typesubmit && type.text.errors }"
          placeholder="Prénom"
        />
        <div *ngIf="typesubmit && type.text.errors" class="invalid-feedback">
          <span *ngIf="type.text.errors.required">Champs Obligateur</span>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Contre mêtre</label>
        <input
          type="text"
          class="form-control"
          formControlName="text"
          [ngClass]="{ 'is-invalid': typesubmit && type.text.errors }"
          placeholder="Contre mêtre"
        />
        <div *ngIf="typesubmit && type.text.errors" class="invalid-feedback">
          <span *ngIf="type.text.errors.required">Champs Obligateur</span>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Nom du groupe</label>
        <input
          type="text"
          class="form-control"
          formControlName="text"
          [ngClass]="{ 'is-invalid': typesubmit && type.text.errors }"
          placeholder="Nom du groupe"
        />
        <div *ngIf="typesubmit && type.text.errors" class="invalid-feedback">
          <span *ngIf="type.text.errors.required">Champs Obligateur</span>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">PS</label>
        <input
          type="text"
          class="form-control"
          formControlName="text"
          [ngClass]="{ 'is-invalid': typesubmit && type.text.errors }"
          placeholder="PS"
        />
        <div *ngIf="typesubmit && type.text.errors" class="invalid-feedback">
          <span *ngIf="type.text.errors.required">Champs Obligateur</span>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Numéro de téléphone</label>
        <input
          type="text"
          class="form-control"
          formControlName="text"
          [ngClass]="{ 'is-invalid': typesubmit && type.text.errors }"
          placeholder="Numéro de téléphone"
        />
        <div *ngIf="typesubmit && type.text.errors" class="invalid-feedback">
          <span *ngIf="type.text.errors.required">Champs Obligateur</span>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Exonor de Contrib </label>
        <input type="checkbox" />
      </div>
      <div class="mb-3">
        <label class="form-label">Actif pour la planification</label>
        <input type="checkbox" />
      </div>
      <div class="mb-3">
        <label class="form-label">Centre de coûts</label>
        <input
          type="text"
          class="form-control"
          formControlName="text"
          [ngClass]="{ 'is-invalid': typesubmit && type.text.errors }"
          placeholder="Centre de coûts"
        />
        <div *ngIf="typesubmit && type.text.errors" class="invalid-feedback">
          <span *ngIf="type.text.errors.required">Champs Obligateur</span>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Choisir station</label>

        <select class="form-select">
          <option selected>Bus Khaziza</option>
          <option>Bus Khaziza</option>
          <option>Mnager Hancha</option>
        </select>
        <div *ngIf="typesubmit && type.text.errors" class="invalid-feedback">
          <span *ngIf="type.text.errors.required">Champs Obligateur</span>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Choisir segment</label>
        <select class="form-select">
          <option selected>ACCOUNTING</option>
          <option>ADMIN MH1</option>
          <option>ASSUVE</option>
          <option>AUDI</option>
        </select>
        <div *ngIf="typesubmit && type.text.errors" class="invalid-feedback">
          <span *ngIf="type.text.errors.required">Champs Obligateur</span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap gap-2 btn-add">
      <button type="submit" class="btn btn-primary waves-effect waves-light">
        Modifier
      </button>
      <button type="reset" class="btn btn-secondary waves-effect">
        Annuler
      </button>
    </div>
  </form>
</div>
