.seqOne {
  display: flex;
  align-items: center;
}
.button {
  height: 40px;
  width: 350px;
}
.input {
  margin-left: 5px;
}
.select {
  margin-left: 5px;
  width: 250px;
}
.title {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 25px;
  color: #8d7ec1;
}
.seqseq {
  font-size: 20px;
 
}

.selecttwo {
 
  width: 450px;
}
.divOne {
  display: flex;
}
.selectthree {
  margin-left: 15px;
  width: 550px;
  height: 40px;
}
.divTwo {
  display: flex;
}
.divThree {
  display: flex;
}
.divFour {
  display: flex;
}
.selectFour {
  margin-left: 36px;
  width: 550px;
  height: 40px;
}
.selectFive {
  margin-left: 35px;
  width: 550px;
  height: 40px;
}
.selectSix {
  margin-left: 21px;
  width: 550px;
  height: 40px;
}
table {
  width: 10%; /* Use a percentage or specific width as needed */
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 4px; /* Reduce the padding to make the cells smaller */
  text-align: left;
  
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #533aae;
  color: white;
}

.buttontwo {
  height: 55px;
  width: 150px;
 
}
.buttontwoo {
  height: 35px;
  width: 150px;
  margin-left: 10px;
}
.buttonthree{
  height: 55px;
  width: 150px;
  margin-left: 10px;
}



.a{
  display: flex;
}


.x{
  font-size: 13px;
}
.item{width: 50px;}
.custom-modal {
  max-width: 90%; /* Adjust the maximum width as needed, e.g., 90% of the parent container */
}
.one{display: flex;}

