.seqOne {
  display: flex;
  align-items: center;
}
.button {
  height: 40px;
  width: 350px;
}
.input {
  margin-left: 5px;
}
.select {
  margin-left: 5px;
  width: 250px;
}
.title {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 25px;
  color: #8d7ec1;
}
.seqseq {
  display: flex;
  align-items: center;
}
.p {
  margin-left: 10px;
  text-align: center;
  margin-top: 15px;
}
.selecttwo {
  margin-left: 5px;
  width: 450px;
}
.divOne {
  display: flex;
}
.selectthree {
  margin-left: 15px;
  width: 550px;
  height: 40px;
}
.divTwo {
  display: flex;
}
.divThree {
  display: flex;
}
.divFour {
  display: flex;
}
.selectFour {
  margin-left: 36px;
  width: 550px;
  height: 40px;
}
.selectFive {
  margin-left: 35px;
  width: 550px;
  height: 40px;
}
.selectSix {
  margin-left: 21px;
  width: 550px;
  height: 40px;
}
