<div>
<h3 class="title">Gestion des Planifications Par Agence</h3>

<br />
<!--<div class="seqOne">
  <button type="button" class="btn btn-primary button" b>
    Recalcul Données Recap Pour Toutes les agences
  </button>
  <input class="input" type="checkbox" />
  <select class="form-select select" aria-label="Default select example">
    <option value="2">KW-2023-12</option>
    <option value="2">KW-2023-13</option>
    <option value="2">KW-2023-14</option>
    <option value="2">KW-2023-15</option>
    <option value="2">KW-2023-16</option>
    <option value="2">KW-2023-17</option>
    <option value="2">KW-2023-18</option>
    <option value="2">KW-2023-19</option>
    <option value="2">KW-2023-20</option>
    <option selected>KW-2023-19*</option>
    <option value="1">KW-2023-20</option>
    <option value="2">KW-2023-21</option>
    <option value="2">KW-2023-22</option>
    <option value="2">KW-2023-23</option>
    <option value="2">KW-2023-24</option>
    <option value="2">KW-2023-25</option>
    <option value="2">KW-2023-26</option>
    <option value="2">KW-2023-27</option>
    <option value="2">KW-2023-28</option>
    <option value="2">KW-2023-29</option>
    <option value="2">KW-2023-30</option>
    <option value="2">KW-2023-31</option>
  </select>
</div>
<hr />-->


<div class="seqseq" [formGroup]="typeValidationForm">
 <!-- <button type="button" class="btn btn-primary button" b>
    Charger données recap enregistrées par agence
  </button>-->
  <p class="p">Selctionner Agence</p>

  <div>
    <select class="form-select" formControlName="selectedAgence" [ngModel]="defaultSelectedAgence">
      <option *ngFor="let item of agenceTable" [ngValue]="item.nom"  >{{ item.nom }}</option>
    </select>
  </div>
  <br />


  <button type="button" class="btn btn-primary button" b (click)="calcul()">
    calcul Données par agence
    </button>
    <br />
    <br />
</div>
<br />
<button type="button" class="btn btn-primary button" b (click)="generation()">
  Géneration de la planification transport 
</button>
<br />
<br />
 <!-- <div class="divOne">
  <p class="p">Selctionner Semaine</p>
  <select class="form-select selectthree" aria-label="Default select example">
    <option value="2">KW-2023-12</option>
    <option value="2">KW-2023-13</option>
    <option value="2">KW-2023-14</option>
    <option value="2">KW-2023-15</option>
    <option value="2">KW-2023-16</option>
    <option value="2">KW-2023-17</option>
    <option value="2">KW-2023-18</option>
    <option value="2">KW-2023-19</option>
    <option value="2">KW-2023-20</option>
    <option selected>KW-2023-19*</option>
    <option value="1">KW-2023-20</option>
    <option value="2">KW-2023-21</option>
    <option value="2">KW-2023-22</option>
    <option value="2">KW-2023-23</option>
    <option value="2">KW-2023-24</option>
    <option value="2">KW-2023-25</option>
    <option value="2">KW-2023-26</option>
    <option value="2">KW-2023-27</option>
    <option value="2">KW-2023-28</option>
    <option value="2">KW-2023-29</option>
    <option value="2">KW-2023-30</option>
    <option value="2">KW-2023-31</option>
  </select>
</div>
<div class="divTwo">
  <p class="p">Selectionner Jour</p>
  <select class="form-select selectFour" aria-label="Default select example">
    <option value="2">KW-2023-12</option>
    <option value="2">KW-2023-13</option>
    <option value="2">KW-2023-14</option>
    <option value="2">KW-2023-15</option>
    <option value="2">KW-2023-16</option>
    <option value="2">KW-2023-17</option>
    <option value="2">KW-2023-18</option>
    <option value="2">KW-2023-19</option>
    <option value="2">KW-2023-20</option>
    <option selected>KW-2023-19*</option>
    <option value="1">KW-2023-20</option>
    <option value="2">KW-2023-21</option>
    <option value="2">KW-2023-22</option>
    <option value="2">KW-2023-23</option>
    <option value="2">KW-2023-24</option>
    <option value="2">KW-2023-25</option>
    <option value="2">KW-2023-26</option>
    <option value="2">KW-2023-27</option>
    <option value="2">KW-2023-28</option>
    <option value="2">KW-2023-29</option>
    <option value="2">KW-2023-30</option>
    <option value="2">KW-2023-31</option>
  </select>
</div>
<div class="divThree">
  <p class="p">Selectionner Shift</p>
  <select class="form-select selectFive" aria-label="Default select example">
    <option value="2">KW-2023-12</option>
    <option value="2">KW-2023-13</option>
    <option value="2">KW-2023-14</option>
    <option value="2">KW-2023-15</option>
    <option value="2">KW-2023-16</option>
    <option value="2">KW-2023-17</option>
    <option value="2">KW-2023-18</option>
    <option value="2">KW-2023-19</option>
    <option value="2">KW-2023-20</option>
    <option selected>KW-2023-19*</option>
    <option value="1">KW-2023-20</option>
    <option value="2">KW-2023-21</option>
    <option value="2">KW-2023-22</option>
    <option value="2">KW-2023-23</option>
    <option value="2">KW-2023-24</option>
    <option value="2">KW-2023-25</option>
    <option value="2">KW-2023-26</option>
    <option value="2">KW-2023-27</option>
    <option value="2">KW-2023-28</option>
    <option value="2">KW-2023-29</option>
    <option value="2">KW-2023-30</option>
    <option value="2">KW-2023-31</option>
  </select>
</div>
<div class="divFour">
  <p class="p">Selectionner Cicruit</p>
  <select class="form-select selectSix" aria-label="Default select example">
    <option value="2">KW-2023-12</option>
    <option value="2">KW-2023-13</option>
    <option value="2">KW-2023-14</option>
    <option value="2">KW-2023-15</option>
    <option value="2">KW-2023-16</option>
    <option value="2">KW-2023-17</option>
    <option value="2">KW-2023-18</option>
    <option value="2">KW-2023-19</option>
    <option value="2">KW-2023-20</option>
    <option selected>KW-2023-19*</option>
    <option value="1">KW-2023-20</option>
    <option value="2">KW-2023-21</option>
    <option value="2">KW-2023-22</option>
    <option value="2">KW-2023-23</option>
    <option value="2">KW-2023-24</option>
    <option value="2">KW-2023-25</option>
    <option value="2">KW-2023-26</option>
    <option value="2">KW-2023-27</option>
    <option value="2">KW-2023-28</option>
    <option value="2">KW-2023-29</option>
    <option value="2">KW-2023-30</option>
    <option value="2">KW-2023-31</option>
  </select>
</div>
<hr />
There is no data to display.-->
<h4 *ngIf="tableData && tableData.length > 0">Tableau de planification de transport de tous les Agences:</h4>
<table *ngIf="tableData && tableData.length > 0">

  <tr>
    <th>Agence</th>
    <th>Circuit</th>
    <th>Jour_Semaine</th>
    <th>Debut_Poste</th>
    <th>Fin_Poste</th>
    <th>Nombre_Employe</th>
    <th>Nombre_bus</th>
   
  </tr>
  <tr *ngFor="let item of tableData">
    <td>{{ item.agence }}</td>
    <td>{{ item.circuit }}</td>
    <td>{{ item.jourSemaine }}</td>
    <td>{{ item.debutPoste }}</td>
    <td>{{ item.finPoste }}</td>
    <td>{{ item.nombreEmploye }}</td>
    <td>{{ item.nombresBus }}</td>
 
 
  </tr>
  <br />
  <div class="a">

</div>
</table>
<button (click)="exportToExcel()" type="button" class="btn btn-primary buttontwo">Export to Excel</button>

<button  type="button" class="btn btn-primary buttonthree" (click)="openModal(contentImport)">envoyer vers agences</button>
</div>
<ng-template #contentImport role="document" let-modal class="custom-modal" >
  <div class="modal-xl">
  <div class="modal-header">
    <h5 class="modal-title mt-0">Envoyer Planification vers agences</h5>

  </div>
  <div class="modal-body" >
    <p class="p">Selctionner Agence</p>
   
    <div [formGroup]="typeValidationForm">
      <div class="one">
      <select class="form-select" formControlName="selectedAgenceMail" [ngModel]="defaultSelectedAgence" >
        <option *ngFor="let item of agenceTable" [ngValue]="item.nom"  >{{ item.nom }}</option>
    
      </select>
      <button (click)="test()" type="button" class="btn btn-primary buttontwooselect">select</button>
      </div>
      <br/>
      <table *ngIf="TableFiltred && TableFiltred.length > 0">

        <tr>
          <th>Agence</th>
          <th>Circuit</th>
          <th>Jour</th>
          <th>Debut</th>
          <th>Fin</th>
          <th>Nb_Employe</th>
          <th>Nb_bus</th>
         
        </tr>
        <tr *ngFor="let item of TableFiltred">
          <td>{{ item.agence }}</td>
          <td>{{ item.circuit }}</td>
          <td>{{ item.jourSemaine }}</td>
          <td>{{ item.debutPoste }}</td>
          <td>{{ item.finPoste }}</td>
          <td>{{ item.nombreEmploye }}</td>
          <td>{{ item.nombresBus }}</td>
       
       
        </tr>
        <br />
        <div class="a">
      
      </div>
      </table>
      
      
      <button  *ngIf="TableFiltred && TableFiltred.length > 0" (click)="exportToExceltwo()" type="button" class="btn btn-primary buttontwoo">Export to Excel</button>
      
      <button  *ngIf="TableFiltred && TableFiltred.length > 0"  type="button" class="btn btn-primary buttonthreee" (click)="testTwo()" >envoyer vers agence</button>
   

      <div *ngIf="afficher==true">
        <br/>
        <h6>choissir la planification de transport en fichier excel</h6>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02" (change)="onFileSelected($event)" >
          <button class="input-group-text" for="inputGroupFile02" (click)="envoyer()" >envoyer</button>
        </div>
      </div>
   

    </div>
  </div>
</div>
</ng-template>