<h3 class="title">Gestion des Planifications et Recap</h3>
<br />
<div class="seqOne">
  <button type="button" class="btn btn-primary button" b>
    Recalcul Données Recap Pour Toutes les agences
  </button>
  <input class="input" type="checkbox" />
  <select class="form-select select" aria-label="Default select example">
    <option value="2">KW-2023-12</option>
    <option value="2">KW-2023-13</option>
    <option value="2">KW-2023-14</option>
    <option value="2">KW-2023-15</option>
    <option value="2">KW-2023-16</option>
    <option value="2">KW-2023-17</option>
    <option value="2">KW-2023-18</option>
    <option value="2">KW-2023-19</option>
    <option value="2">KW-2023-20</option>
    <option selected>KW-2023-19*</option>
    <option value="1">KW-2023-20</option>
    <option value="2">KW-2023-21</option>
    <option value="2">KW-2023-22</option>
    <option value="2">KW-2023-23</option>
    <option value="2">KW-2023-24</option>
    <option value="2">KW-2023-25</option>
    <option value="2">KW-2023-26</option>
    <option value="2">KW-2023-27</option>
    <option value="2">KW-2023-28</option>
    <option value="2">KW-2023-29</option>
    <option value="2">KW-2023-30</option>
    <option value="2">KW-2023-31</option>
  </select>
</div>
<hr />
<button type="button" class="btn btn-primary button" b>
  Recalcul Données Recap par agence
</button>
<br />
<br />
<div class="seqseq">
  <button type="button" class="btn btn-primary button" b>
    Charger données recap enregistrées par agence
  </button>
  <p class="p">Selctionner Agence</p>

  <select class="form-select selecttwo" aria-label="Default select example">
    <option value="3">
      STE VOYAGES TUNISIE S.V.T(STE VOYAGES TUNISIE S.V.T)
    </option>
    <option value="5">
      STE TUNISIAN BEAUTY TRAVEL(STE TUNISIAN BEAUTY TRAVEL)
    </option>
    <option value=""></option>
    <option value="2">SOCIETE YAHIA SERVICES(SOCIETE YAHIA SERVICES)</option>
    <option value="7">
      STE VOYAGES ET LOISIR EN TUNISIE (VLT)(STE VOYAGES ET LOISIR EN TUNISIE
      (VLT))
    </option>
    <option value="4">STE PRIMA TOURS SA(STE PRIMA TOURS SA)</option>
    <option value="10">PROVINCE VOYAGES(PROVINCE VOYAGES)</option>
    <option value="17">
      Tunisian travel service ( TTS ) Khmaies mathlouthi(Tunisian travel service
      ( TTS ))
    </option>
    <option value="9">
      SOCIETE DE TRANSPORT DU SAHEL STS(SOCIETE DE TRANSPORT DU SAHEL STS)
    </option>
    <option value="8">STE VOYAGES 2000(STE VOYAGES 2000)</option>
    <option value="19">E-Voyage(Enfidha Voyage)</option>
    <option value="18">Raya Voyage(Raya Voyages)</option>
    <option value="11">***(***)</option>
    <option value="1">
      TUNISIAN TRAVEL SERVICE TTS(TUNISIAN TRAVEL SERVICE TTS)
    </option>
    <option value="6">****(****)</option>
    <option value="16">BM TRAVEL(BM TRAVEL)</option>
    <option value="13">*****(*****)</option>
    <option value="15">bingo travel(bingo travel)</option>
    <option value="12">SRTB(SRTB)</option>
    <option value="14">promo vacances(promo vacances)</option>
    <option value="20">Ragheb Voyages(Ragheb Voyages)</option>
  </select>
</div>
<br />
<button type="button" class="btn btn-primary button" b>
  Charger Toutes les données recap enregistrées
</button>
<br />
<br />
<div class="divOne">
  <p class="p">Selctionner Semaine</p>
  <select class="form-select selectthree" aria-label="Default select example">
    <option value="2">KW-2023-12</option>
    <option value="2">KW-2023-13</option>
    <option value="2">KW-2023-14</option>
    <option value="2">KW-2023-15</option>
    <option value="2">KW-2023-16</option>
    <option value="2">KW-2023-17</option>
    <option value="2">KW-2023-18</option>
    <option value="2">KW-2023-19</option>
    <option value="2">KW-2023-20</option>
    <option selected>KW-2023-19*</option>
    <option value="1">KW-2023-20</option>
    <option value="2">KW-2023-21</option>
    <option value="2">KW-2023-22</option>
    <option value="2">KW-2023-23</option>
    <option value="2">KW-2023-24</option>
    <option value="2">KW-2023-25</option>
    <option value="2">KW-2023-26</option>
    <option value="2">KW-2023-27</option>
    <option value="2">KW-2023-28</option>
    <option value="2">KW-2023-29</option>
    <option value="2">KW-2023-30</option>
    <option value="2">KW-2023-31</option>
  </select>
</div>
<div class="divTwo">
  <p class="p">Selectionner Jour</p>
  <select class="form-select selectFour" aria-label="Default select example">
    <option value="2">KW-2023-12</option>
    <option value="2">KW-2023-13</option>
    <option value="2">KW-2023-14</option>
    <option value="2">KW-2023-15</option>
    <option value="2">KW-2023-16</option>
    <option value="2">KW-2023-17</option>
    <option value="2">KW-2023-18</option>
    <option value="2">KW-2023-19</option>
    <option value="2">KW-2023-20</option>
    <option selected>KW-2023-19*</option>
    <option value="1">KW-2023-20</option>
    <option value="2">KW-2023-21</option>
    <option value="2">KW-2023-22</option>
    <option value="2">KW-2023-23</option>
    <option value="2">KW-2023-24</option>
    <option value="2">KW-2023-25</option>
    <option value="2">KW-2023-26</option>
    <option value="2">KW-2023-27</option>
    <option value="2">KW-2023-28</option>
    <option value="2">KW-2023-29</option>
    <option value="2">KW-2023-30</option>
    <option value="2">KW-2023-31</option>
  </select>
</div>
<div class="divThree">
  <p class="p">Selectionner Shift</p>
  <select class="form-select selectFive" aria-label="Default select example">
    <option value="2">KW-2023-12</option>
    <option value="2">KW-2023-13</option>
    <option value="2">KW-2023-14</option>
    <option value="2">KW-2023-15</option>
    <option value="2">KW-2023-16</option>
    <option value="2">KW-2023-17</option>
    <option value="2">KW-2023-18</option>
    <option value="2">KW-2023-19</option>
    <option value="2">KW-2023-20</option>
    <option selected>KW-2023-19*</option>
    <option value="1">KW-2023-20</option>
    <option value="2">KW-2023-21</option>
    <option value="2">KW-2023-22</option>
    <option value="2">KW-2023-23</option>
    <option value="2">KW-2023-24</option>
    <option value="2">KW-2023-25</option>
    <option value="2">KW-2023-26</option>
    <option value="2">KW-2023-27</option>
    <option value="2">KW-2023-28</option>
    <option value="2">KW-2023-29</option>
    <option value="2">KW-2023-30</option>
    <option value="2">KW-2023-31</option>
  </select>
</div>
<div class="divFour">
  <p class="p">Selectionner Cicruit</p>
  <select class="form-select selectSix" aria-label="Default select example">
    <option value="2">KW-2023-12</option>
    <option value="2">KW-2023-13</option>
    <option value="2">KW-2023-14</option>
    <option value="2">KW-2023-15</option>
    <option value="2">KW-2023-16</option>
    <option value="2">KW-2023-17</option>
    <option value="2">KW-2023-18</option>
    <option value="2">KW-2023-19</option>
    <option value="2">KW-2023-20</option>
    <option selected>KW-2023-19*</option>
    <option value="1">KW-2023-20</option>
    <option value="2">KW-2023-21</option>
    <option value="2">KW-2023-22</option>
    <option value="2">KW-2023-23</option>
    <option value="2">KW-2023-24</option>
    <option value="2">KW-2023-25</option>
    <option value="2">KW-2023-26</option>
    <option value="2">KW-2023-27</option>
    <option value="2">KW-2023-28</option>
    <option value="2">KW-2023-29</option>
    <option value="2">KW-2023-30</option>
    <option value="2">KW-2023-31</option>
  </select>
</div>
<hr />
There is no data to display.
