<!-- ADD USER -->
<div>
  <form (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm">
    <div class="row">
      <div class="mb-3">
        <label class="form-label">Nom du segment</label>
        <input
          type="text"
          class="form-control"
          formControlName="nomSegment"
          [ngClass]="{ 'is-invalid': typesubmit && type.nomSegment.errors }"
          placeholder="nom Segment"
        />
        <div *ngIf="typesubmit && type.nomSegment.errors" class="invalid-feedback">
          <span *ngIf="type.nomSegment.errors.required">Champs Obligateur </span>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Centre de coûts du Segment</label>
        <input
          type="text"
          class="form-control"
          formControlName="centerCoutSegment"
          [ngClass]="{ 'is-invalid': typesubmit && type.centerCoutSegment.errors }"
          placeholder="center Cout Segment"
        />
        <div *ngIf="typesubmit && type.centerCoutSegment.errors" class="invalid-feedback">
          <span *ngIf="type.centerCoutSegment.errors.required">Champs Obligateur</span>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Nom du segment SAPRef</label>
        <input
          type="text"
          class="form-control"
          formControlName="nomSapRef"
          [ngClass]="{ 'is-invalid': typesubmit && type.nomSapRef.errors }"
          placeholder="nom Sap Ref"
        />
        <div *ngIf="typesubmit && type.nomSapRef.errors" class="invalid-feedback">
          <span *ngIf="type.nomSapRef.errors.required">Champs Obligateur</span>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Selectionner PS</label>

        <select    formControlName="ps" class="form-select">
          <option selected>Centraux</option>
          <option>MH1</option>
          <option>MH2</option>
        </select>
       <!-- <div *ngIf="typesubmit && type.text.errors" class="invalid-feedback">
          <span *ngIf="type.text.errors.required">Champs Obligateur</span>
        </div>-->
      </div>
      <div class="mb-3">
        <label class="form-label">Selectionner RH Segment</label>

        <select  formControlName="rhSegment" class="form-select">
          <option selected>Mouez bougerra</option>
          <option>yahia ben salem</option>
          <option>lobna smari</option>
        </select>
    <!--  <div *ngIf="typesubmit && type.text.errors" class="invalid-feedback">
          <span *ngIf="type.text.errors.required">Champs Obligateur</span>
        </div>-->  
      </div>

      <div class="mb-3">
        <label class="form-label"> Selectionner Chef Segment</label>
        <select formControlName="chefSegment" class="form-select">
          <option selected>rami ben fraj</option>
          <option>imad habboul</option>
          <option>mohamed frigui</option>
        </select>
     <!--     <div *ngIf="typesubmit && type.text.errors" class="invalid-feedback">
          <span *ngIf="type.text.errors.required">Champs Obligateur</span>
        </div>--> 
      </div>
    </div>

    <div class="d-flex flex-wrap gap-2 btn-add">
      <button type="submit" class="btn btn-primary waves-effect waves-light">
        Modifier
      </button>
      <button type="reset" class="btn btn-secondary waves-effect">
        Annuler
      </button>
    </div>
  </form>
</div>
