<!-- Edit Role -->
<div>
  <form (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm">
    <div class="row">
      <div class="mb-3">
        <label class="form-label">Nom</label>
        <input
          type="text"
          class="form-control"
          formControlName="roleName"
          name="name"
          [ngClass]="{ 'is-invalid': typesubmit && type.roleName.errors }"
          placeholder="Nom rôle"
        />
        <div
          *ngIf="typesubmit && type.roleName.errors"
          class="invalid-feedback"
        >
          <span *ngIf="type.roleName.errors.required">Champs Obligateur </span>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          formControlName="description"
          name="description"
          [ngClass]="{ 'is-invalid': typesubmit && type.description.errors }"
          placeholder="Description"
        />
        <div
          *ngIf="typesubmit && type.description.errors"
          class="invalid-feedback"
        >
          <span *ngIf="type.description.errors.required"
            >Champs Obligateur</span
          >
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Permissions</label>
        <div *ngFor="let item of dataList" class="form-check">
          <input
            class="form-check-input"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            type="checkbox"
            [value]="item.id"
            [checked]="item.selected"
            (change)="onSelectionChange(item)"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            {{ item.permissionName }}
          </label>
        </div>
      </div>
    </div>
    <div class="d-flex flex-wrap gap-2 btn-edit">
      <button type="submit" class="btn btn-primary waves-effect waves-light">
        Modifier
      </button>
      <button type="reset" class="btn btn-secondary waves-effect">
        Annuler
      </button>
    </div>
  </form>
</div>
