<h3 class="title">Gérer</h3>
<br />
<div class="form-inline">
  <button type="button" class="btn btn-primary">reload</button>
  <select class="form-select semaine" aria-label="Default select example">
    <option value="2">KW-2023-12</option>
    <option value="2">KW-2023-13</option>
    <option value="2">KW-2023-14</option>
    <option value="2">KW-2023-15</option>
    <option value="2">KW-2023-16</option>
    <option value="2">KW-2023-17</option>
    <option value="2">KW-2023-18</option>
    <option value="2">KW-2023-19</option>
    <option value="2">KW-2023-20</option>
    <option selected>KW-2023-19*</option>
    <option value="1">KW-2023-20</option>
    <option value="2">KW-2023-21</option>
    <option value="2">KW-2023-22</option>
    <option value="2">KW-2023-23</option>
    <option value="2">KW-2023-24</option>
    <option value="2">KW-2023-25</option>
    <option value="2">KW-2023-26</option>
    <option value="2">KW-2023-27</option>
    <option value="2">KW-2023-28</option>
    <option value="2">KW-2023-29</option>
    <option value="2">KW-2023-30</option>
    <option value="2">KW-2023-31</option>
  </select>
  <p class="xx">semaine</p>
</div>
<br />
<h3 class="title">Actions de planification:</h3>
<p class="xx">Aucun résultat</p>
