.text-primary {
  color: white!important;
}
.bg-primary.bg-soft {
  background-color: #003D89 !important; ;
}
.btn-primary{
  color: #fff;
  background-color: #003D89;
  border-color: #003D89;
}
.text-primary-sign-in {
  color: #003D89 !important;
}
